/* Stylesheet for the workout tracker */

        /* Main Navbar Styling */
        .navbar {
            background-color: #7c7a7a; 
        }

        .navbar-nav .nav-item .nav-link.active {
            color: #007bff;
        }

        /* Styling for inactive nav items */
        .navbar-nav .nav-item .nav-link:hover {
            color: #007bff;
        }

        .navbar a{
            color:#fff2f2;
        }

        .active {
            color:#ff00c3;
        }
