<!-- Template for change_password page -->
{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <!-- Define change_password form -->
    <h4 class="text-center">Change Password</h4>
    <form action="/change_password/{{ token }}" method="post" class="form-container">
        <div class="mb-3">
            <label for="password" class="form-label">New password</label>
            <input autocomplete="off" id="password" class="form-control" name="password" type="password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm new password</label>
            <input autocomplete="off" id="confirm_password" class="form-control" name="confirm_password" type="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Change password</button>
    </form>
{% endblock %}