<!-- Base template from which other templates will extend-->
<!doctype html>
<html lang="en">

<head>
    <!--Specify character set as UTF-8-->
    <meta charset="utf-8">
    <!--Ensure the page scales correctly to fit the device width-->
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!--Include Bootstrap CSS and JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>

    <!--Link to CSS stylesheet-->
    <link href="/static/styles.css" rel="stylesheet">

    <!--Include jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Set title shown in browser tab-->
    <title>AC's Tracker: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Navbar Toggler Button for Collapsing the Navbar on Small Screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if current_user.is_authenticated %}
                    <!-- Navbar content for authenticated users-->
                    <!-- Left side tabs -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item {% if request.endpoint == 'Workouts' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('Workouts') }}">Workouts</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'Exercises' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('Exercises') }}">Exercises</a>
                        </li>
                        <!-- Dropdown menu for Analysis section pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link {% if request.endpoint == 'Exercise_Graph' or request.endpoint == 'Workout_Graph' or request.endpoint == 'Workout_Chart' %}active{% endif %} 
                            dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Analysis
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item {% if request.endpoint == 'Exercise_Graph'%}active{% endif %}" href="{{ url_for('Exercise_Graph') }}">Exercise Graph</a>
                                <a class="dropdown-item {% if request.endpoint == 'Workout_Graph'%}active{% endif %}" href="{{ url_for('Workout_Graph') }}">Workout Graph</a>
                                <a class="dropdown-item {% if request.endpoint == 'Workout_Chart'%}active{% endif %}" href="{{ url_for('Workout_Chart') }}">Workout Breakdown Chart</a>
                            </div>
                        </li>
                        <!-- Dropdown menu for Bodyweight section pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link {% if request.endpoint == 'Bodyweights' or request.endpoint == 'Bodyweight_Graph' %}active{% endif %} dropdown-toggle" 
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bodyweight
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item {% if request.endpoint == 'Bodyweights'%}active{% endif %}" href="{{ url_for('Bodyweights') }}">Track Bodyweight</a>
                                <a class="dropdown-item {% if request.endpoint == 'Bodyweight_Graph'%}active{% endif %}" href="{{ url_for('Bodyweight_Graph') }}">Bodyweight Graph</a>
                            </div>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'Goals' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('Goals') }}">Goals</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'Prediction' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('Prediction') }}">1RM Prediction</a>
                        </li>
                    </ul>
                    <!-- Right side tabs -->
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.endpoint == 'Settings' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('Settings') }}">Settings</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Logout') }}">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <!-- Navbar content for unauthenticated users-->
                    <!-- Right side tabs -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item {% if request.endpoint == 'Login' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('Login') }}">Login</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'Register' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('Register') }}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Define the function of the postiive flashed messages -->
    {% with successes = get_flashed_messages(category_filter=["positive"]) %}
    {% if successes %}
        {% for msg in successes %}
            <div class="alert alert-success alert-positive alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close btn button-success mx-auto w-auto py-1 mb-2" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Define the function of the negative flashed messages -->
    {% with errors = get_flashed_messages(category_filter=["negative"]) %}
        {% if errors %}
            {% for msg in errors %}
                <div class="alert alert-danger alert-negative alert-dismissible fade show" role="alert">
                    <strong>Error: </strong>{{ msg }}
                    <button type="button" class="close btn button-dark mx-auto w-auto py-1 mb-2" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!--Main content for the page-->
    <main class="container-fluid text-center"></main>
            {% block main %}{% endblock %} <!-- Jinja placeholder which other templates will extend-->
    </main>
</body>

</html>

