<!-- Base template from which other templates will extend-->
<!doctype html>
<html lang="en">

<head>
    <!--Specify character set as UTF-8-->
    <meta charset="utf-8">
    <!--Ensure the page scales correctly to fit the device width-->
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!--Include Bootstrap CSS and JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>

    <!--Link to CSS stylesheet-->
    <link href="/static/styles.css" rel="stylesheet">

    <!--Set title shown in browser tab-->
    <title>AC's Tracker: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Navbar Toggler Button for Collapsing the Navbar on Small Screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Navbar content for unauthenticated users-->
                <!-- Right side tabs -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item {% if request.endpoint == 'Login' %}active{% endif %}">
                      <a class="nav-link" href="{{ url_for('Login') }}">Login</a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'Register' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('Register') }}">Register</a>
                      </li>
                </ul>

            </div>

        </div>
    </nav>

    {% with successes = get_flashed_messages(category_filter=["positive"]) %}
    {% if successes %}
        {% for msg in successes %}
            <div class="alert alert-success alert-positive alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close btn button-success mx-auto w-auto py-1 mb-2" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["negative"]) %}
        {% if errors %}
            {% for msg in errors %}
                <div class="alert alert-danger alert-negative alert-dismissible fade show" role="alert">
                    <strong>Error: </strong>{{ msg }}
                    <button type="button" class="close btn button-dark mx-auto w-auto py-1 mb-2" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!--Main content for the page-->
    <main class="container-fluid text-center"></main>
            {% block main %}{% endblock %} <!-- Jinja placeholder which other templates will extend-->
    </main>
</body>

</html>

