<!-- Template for login page -->
{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <!-- Define login form -->
    <h4 class="text-center">Login</h4>
    <form action="/login" method="post" class="form-container">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input autocomplete="off" id="email" class="form-control" name="email"  type="text">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input autocomplete="off" id="password" class="form-control" name="password" type="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Log In</button>
        <!-- Forgot Password Button -->
        <div class="text-center mt-3">
            <a href="{{ url_for("Reset_Password") }}" class="forgot-password-btn">Forgot password?</a>
        </div>
    </form>
{% endblock %}

