{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h4 class="text-center">Register</h4>
    <form action="/register" method="post" class="form-container">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input autocomplete="off" id="email" class="form-control" name="email"  type="text">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input autocomplete="off" id="password" class="form-control" name="password" type="password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm password</label>
            <input autocomplete="off" id="confirm_password" class="form-control" name="confirm_password" type="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Create account</button>
    </form>
{% endblock %}