<!-- Template for reset_password page -->
{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <!-- Define reset_password form -->
    <h4 class="text-center">Reset Your Password</h4>
    <form action="/reset_password" method="post" class="form-container">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input autocomplete="off" id="email" class="form-control" name="email"  type="text">
        </div>
        <button type="submit" class="btn btn-primary w-100">Send password reset email</button>
    </form>
{% endblock %}

