<!-- Template for settings page -->
{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <h4 class="text-center">Settings</h4>
    <form method="POST" action="/settings" class="form-container text-center">
        <!-- Sets unit toggle -->
        <div class="mb-4">
            <div class="form-label">Sets weight unit</div>
            <div class="settings-toggle">
                <button type="submit" name="sets_unit" value="kg" class="btn-toggle {% if current_user.sets_unit == 'kg' %}active{% endif %}">
                    Kilogram (kg)
                </button>
                <button type="submit" name="sets_unit" value="lb" class="btn-toggle {% if current_user.sets_unit == 'lb' %}active{% endif %}">
                    Pound (lb)
                </button>
            </div>
        </div>

        <!-- Bodyweight unit toggle -->
        <div class="mb-4">
            <div class="form-label">Bodyweight weight unit</div>
            <div class="settings-toggle">
                <button type="submit" name="bodyweight_unit" value="kg" class="btn-toggle {% if current_user.bodyweight_unit == 'kg' %}active{% endif %}">
                    Kilogram (kg)
                </button>
                <button type="submit" name="bodyweight_unit" value="lb" class="btn-toggle {% if current_user.bodyweight_unit == 'lb' %}active{% endif %}">
                    Pound (lb)
                </button>
            </div>
        </div>

        <!-- Email reports toggle -->
        <div class="mb-4">
            <div class="form-label">Receive email reports?</div>
            <div class="settings-toggle">
                <button type="submit" name="receive_reports" value="yes" class="btn-toggle {% if current_user.receive_reports %}active{% endif %}">
                    Yes
                </button>
                <button type="submit" name="receive_reports" value="no" class="btn-toggle {% if not current_user.receive_reports %}active{% endif %}">
                    No
                </button>
            </div>
        </div>

        <!-- Export button -->
        <div class="settings-toggle mt-3">
            <button type="submit" name="export_data" class="btn-toggle">Export data as CSV</button>
        </div>
    </form>
{% endblock %}